<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="imagenes/departamento.png" class="img-fluid" width="40"/>
            Propiedades
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill" style="font-size: 1.5rem;"></i>&nbsp; Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categorias">
                <i class="bi bi-bookmark-plus-fill" style="font-size: 1.5rem;"></i>&nbsp; Categorías
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blazor-javascript">
                <i class="bi bi-filetype-js" style="font-size: 1.5rem;"></i>&nbsp; Blazor/Javascript
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
